@font-face {
  font-family : 'vaud-display';
  font-style  : normal;
  font-weight : 400;
  src         : url('fonts/VaudDisplay-Book.eot');
  src         : url('fonts/VaudDisplay-Book.eot?#iefix') format('embedded-opentype'),
                url('fonts/VaudDisplay-Book.woff') format('woff'),
                url('fonts/VaudDisplay-Book.ttf') format('truetype');
}

@font-face {
  font-family : 'vaud-display';
  font-style  : normal;
  font-weight : 500;
  src         : url('fonts/VaudDisplay-Medium.eot');
  src         : url('fonts/VaudDisplay-Medium.eot?#iefix') format('embedded-opentype'),
                url('fonts/VaudDisplay-Medium.woff') format('woff'),
                url('fonts/VaudDisplay-Medium.ttf') format('truetype');
}

* {
  box-sizing : border-box;
  cursor     : default;
}

body,
html {
  overflow-x : hidden;
}

body {
  margin                 : 0;
  color                  : #0e0e0e;
  font-family            : 'vaud-display',
                           sans-serif;
  font-size              : 17px;
  font-weight            : 400;
  -webkit-font-smoothing : antialiased;
  line-height            : 1.3;
}

a {
  color           : inherit;
  text-decoration : none;
}

a[href]:hover {
  text-decoration : underline;
  cursor          : pointer;
}

p {
  margin    : 0 0 30px;
  font-size : 30px;
}

img {
  display        : inline-block;
  width          : 100%;
  height         : auto;
  vertical-align : bottom;
}

h1 {
  margin      : 0 0 7px;
  font-size   : 20px;
  font-weight : 500;
}

h2 {
  margin      : 0 0 10px;
  font-size   : 20px;
  font-weight : 400;
}

h6 {
  max-width     : 800px;
  margin        : 0;
  padding-right : 15px;
  padding-left  : 15px;
  color         : #777;
  font-size     : inherit;
  font-weight   : 400;
  line-height   : 1.5;
}

header {
  margin     : 30px 0 60px;
  text-align : center;
}

header a {
  margin : 0 10px;
  color  : #777;
}

header a.active {
  color : #0E0E0E;
}

main {
  display        : flex;
  align-items    : center;
  flex-direction : column;
}

/* —— PAGE */

.page {
  padding         : 0 20px 20px;
  background      : #eee;
  justify-content : center;
}

.page main p {
  max-width  : 750px;
  color      : #777;
  text-align : center;
}

.page main a {
  color : #0E0E0E;
}

/* —— PROJECTS */

.proj {
  display         : flex;
  position        : relative;
  width           : 100%;
  margin          : 0 0 90px;
  align-items     : center;
  flex-direction  : column;
  justify-content : center;
}

.proj hgroup {
  margin     : 0 0 30px;
  text-align : center;
}

/* —— PROJECT VARIANTS */

.proj.apps {
  margin : 0 0 45px;
}

.grid {
  display   : flex;
  position  : relative;
  width     : 100%;
  max-width : 1060px;
  margin    : -25px 0 0;
  flex-wrap : wrap;
}

.grid .item {
  width      : 33.3333%;
  margin     : 0 0 10px;
  padding    : 0 10px;
  text-align : center;
}

.grid .item .wrap {
  display   : inline-block;
  width     : 100%;
  max-width : 300px;
}

.grid .item figure {
  display  : block;
  position : relative;
  width    : 100%;
  margin   : 0;
  padding  : 0 0 195%;
}

.grid .item img {
  position : absolute;
  top      : 0;
  left     : 0;
}

.photos {
  backface-visibility : hidden;
}

.border {
  border-top    : 1px solid #e8e8e8;
  border-bottom : 1px solid #e8e8e8;
}

.full {
  width      : 100%;
  text-align : center;
}

.full img {
  max-width : 960px;
}

.alone {
  padding : 80px 0;
}

.ac .full {
  background : #fff;
}

.mw {
  background-repeat : no-repeat;
  background-size   : cover;
}

.mw.by {
  background-image    : url(img/sm/bg/7T5C5861-s.jpg);
  background-position : center;
}

.mw.by1 {
  background-image    : url(img/sm/bg/7T5C4083-s.jpg);
  background-position : center;
}

.mw.by3 {
  background-image    : url(img/sp/bg/876543-s.jpg);
  background-position : center;
}

.mw.by4 {
  background-image    : url(img/sp/bg/45678-s.jpg);
  background-position : center;
}

.mw.by5 {
  background-image    : url(img/ai/bg/456789-s.jpg);
  background-position : center;
}

.mw.by6 {
  background-image    : url(img/mm/bg/8765435-s.jpg);
  background-position : center;
}

.mw img {
  margin : 40% 0 0;
}

.therm .full {
  display             : flex;
  background          : #020202;
  background-image    : url(img/sparkles.png);
  background-repeat   : no-repeat;
  background-position : center;
  background-size     : 1200px 716px;
  align-items         : center;
  justify-content     : center;
}

/* —— SCROLL TO TOP */

#return-to-top {
  z-index               : 1;
  display               : none;
  position              : fixed;
  right                 : 20px;
  bottom                : 20px;
  width                 : 50px;
  height                : 50px;
  -moz-border-radius    : 35px;
  -webkit-border-radius : 35px;
  border-radius         : 35px;
  background            : rgba(0, 0, 0, 0.7);
  text-decoration       : none;
  -moz-transition       : all 0.3s ease;
  -ms-transition        : all 0.3s ease;
  -o-transition         : all 0.3s ease;
  -webkit-transition    : all 0.3s linear;
  transition            : all 0.3s ease;
}

#return-to-top i {
  position           : relative;
  top                : 13px;
  left               : 16px;
  margin             : 0;
  color              : #fff;
  font-size          : 19px;
  -moz-transition    : all 0.3s ease;
  -ms-transition     : all 0.3s ease;
  -o-transition      : all 0.3s ease;
  -webkit-transition : all 0.3s ease;
  transition         : all 0.3s ease;
}

#return-to-top:hover {
  background : rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
  top   : 5px;
  color : #fff;
}

/* —— FOOTER */

footer {
  padding    : 40px 0 120px;
  text-align : center;
  font-size  : 30px;
}

footer a[href]:hover {
  text-decoration : none;
}

/* —— BREAKS */

@media
  screen
  and (min-width : 800px)
  and (max-width : 960px) {
  .mw img {
    margin : 370px 0 0;
  }
}

@media
  screen
  and (max-width : 800px) {
  .mw img {
    margin : 320px 0 0;
  }
}

@media
  screen
  and (max-width : 600px) {
  .photos svg {
    display : none;
  }

  .proj {
    margin : 0 0 60px;
  }

  .proj.apps {
    margin : 0 0 25px;
  }

  .grid .item {
    width   : 100%;
    padding : 0 15px;
  }
}

@media
  screen
  and (max-width : 500px) {
  .page main p {
    width       : auto;
    font-size   : 24px;
    line-height : 1.35;
  }
}
