<!-- Section: Header -->
<section class="mt-16">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <header class="flex flex-col md:flex-row items-center gap-x-12">
      <!-- Profile Image -->
      <div class="flex-shrink-0 mb-8 md:mb-0">
        <img src="media/profile.jpg" alt="Marcus Wiberg" class="w-48 h-48 rounded-full object-cover shadow-lg">
      </div>

      <!-- Text Content -->
      <div>
        <div class="flex items-center space-x-4">
          <h1 class="text-5xl font-bold text-gray-900 dark:text-white">Hi, I'm Marcus</h1>
        </div>
        <p class="mt-6 text-4xl max-w-4xl text-gray-800 dark:text-gray-200"> I'm Chief Product Officer at <span class="bg-gradient-to-r from-rose-400 to-red-500 font-bold text-transparent bg-clip-text">Rimthan LAB</span> | Driving Product Strategy & Innovation in GCC</p>
        <div class="mt-6">
          <!-- Unified Flex Container for Location and Social Icons -->
          <div class="flex flex-col sm:flex-row items-start sm:items-center text-lg text-gray-600 dark:text-gray-400">
            <!-- Social Icons -->
            <div class="flex items-center space-x-4">
              <!-- LinkedIn Icon -->
              <a href="https://www.linkedin.com/in/marcuswiberg/" target="_blank" rel="noopener noreferrer" class="hover:text-gray-800 dark:hover:text-gray-300 transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-blue-500" aria-label="LinkedIn" title="Follow me on LinkedIn">
                <img src="/media/svgs/linkedin-light.svg" alt="LinkedIn" class="w-6 h-6 dark:hidden" />
                <img src="/media/svgs/linkedin-dark.svg" alt="LinkedIn" class="w-6 h-6 hidden dark:block" />
              </a>

              <!-- X (formerly Twitter) Icon -->
              <a href="https://x.com/immarcuswiberg" target="_blank" rel="noopener noreferrer" class="hover:text-gray-800 dark:hover:text-gray-300 transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-blue-500" aria-label="X" title="Follow me on X">
                <img src="/media/svgs/x-light.svg" alt="Twitter" class="w-6 h-6 dark:hidden" />
                <img src="/media/svgs/x-dark.svg" alt="Twitter" class="w-6 h-6 hidden dark:block" />
              </a>

              <!-- GitHub Icon -->
              <a href="https://github.com/bymw/marcuswiberg.com" target="_blank" rel="noopener noreferrer" class="hover:text-gray-800 dark:hover:text-gray-300 transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-blue-500" aria-label="GitHub" title="Follow me on GitHub">
                <img src="/media/svgs/github-light.svg" alt="GitHub" class="w-6 h-6 dark:hidden" />
                <img src="/media/svgs/github-dark.svg" alt="GitHub" class="w-6 h-6 hidden dark:block" />
              </a>
            </div>

            <div class="hidden sm:block my-2 sm:my-0 sm:mx-4 w-px h-6 bg-gray-400 dark:bg-gray-600"></div>

            <!-- Location Section -->
            <div class="flex items-center mt-4 sm:mt-0">
              <!-- Location Icon -->
              <div class="mr-2">
                <img src="/media/svgs/location-light.svg" alt="GitHub" class="w-6 h-6 dark:hidden" />
                <img src="/media/svgs/location-dark.svg" alt="GitHub" class="w-6 h-6 hidden dark:block" />
              </div>
              <!-- Location Text -->
              <p class="tracking-normal">Currently in <span class="font-bold">Berlin, Germany</span></p>
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>
</section>
