<!-- Section: Previous Positions -->
<section class="mt-16">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <main class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 sm:gap-8">
      <!-- Marley Spoon -->
      <div class="group relative p-6 bg-white dark:bg-[#0d0d0d] border border-gray-800 dark:border-gray-800 border-opacity-10 rounded-lg overflow-hidden">
        <!-- Flag Overlay -->
        <div class="absolute top-2 right-2 flex space-x-1 opacity-0 transition-opacity duration-300 group-hover:opacity-100 pointer-events-none">
          <img src="media/flags/eu.svg" alt="Europe Flag" class="w-6 h-6 object-cover rounded-full border-2 border-white border-opacity-10 shadow-sm" loading="lazy" />
          <img src="media/flags/us.svg" alt="USA Flag" class="w-6 h-6 object-cover rounded-full border-2 border-white border-opacity-10 shadow-sm" loading="lazy" />
          <img src="media/flags/au.svg" alt="Australia Flag" class="w-6 h-6 object-cover rounded-full border-2 border-white border-opacity-10 shadow-sm" loading="lazy" />
        </div>

        <!-- Card Content -->
        <div class="relative z-10">
          <span class="text-xs uppercase bg-opacity-10 text-center max-w-fit px-2 py-1 font-bold tracking-wide bg-blue-300 text-blue-500">Head of Product & Design</span>
          <h2 class="mt-4 text-xl font-bold">Marley Spoon Group</h2>
          <p class="mt-2 text-neutral-400">Leading meal-kit e-commerce platforms serving USA, Australia, and Europe.</p>
        </div>
      </div>

      <!-- MW Ventures -->
      <div class="group relative p-6 bg-white dark:bg-[#0d0d0d] border border-gray-800 dark:border-gray-800 border-opacity-10 rounded-lg overflow-hidden">
        <!-- Flag Overlay -->
        <div class="absolute top-2 right-2 flex space-x-1 opacity-0 transition-opacity duration-300 group-hover:opacity-100 pointer-events-none">
          <img src="media/flags/de.svg" alt="Germany Flag" class="w-6 h-6 object-cover rounded-full border-2 border-white border-opacity-10 shadow-sm" loading="lazy" />
          <img src="media/flags/se.svg" alt="Sweden Flag" class="w-6 h-6 object-cover rounded-full border-2 border-white border-opacity-10 shadow-sm" loading="lazy" />
        </div>

        <!-- Card Content -->
        <div class="relative z-10">
          <span class="text-xs uppercase bg-opacity-10 text-center max-w-fit px-2 py-1 font-bold tracking-wide bg-blue-300 text-blue-500">Founder</span>
          <h2 class="mt-4 text-xl font-bold">MW Ventures</h2>
          <p class="mt-2 text-neutral-400">Product development agency focused on hardware, web and native app development.</p>
        </div>
      </div>

      <!-- LivingPackets -->
      <div class="group relative p-6 bg-white dark:bg-[#0d0d0d] border border-gray-800 dark:border-gray-800 border-opacity-10 rounded-lg overflow-hidden">
        <!-- Flag Overlay -->
        <div class="absolute top-2 right-2 flex space-x-1 opacity-0 transition-opacity duration-300 group-hover:opacity-100 pointer-events-none">
          <img src="media/flags/de.svg" alt="Germany Flag" class="w-6 h-6 object-cover rounded-full border-2 border-white border-opacity-10 shadow-sm" loading="lazy" />
          <img src="media/flags/fr.svg" alt="France Flag" class="w-6 h-6 object-cover rounded-full border-2 border-white border-opacity-10 shadow-sm" loading="lazy" />
        </div>

        <!-- Card Content -->
        <div class="relative z-10">
          <span class="text-xs uppercase bg-opacity-10 text-center max-w-fit px-2 py-1 font-bold tracking-wide bg-blue-300 text-blue-500">Product Lead</span>
          <h2 class="mt-4 text-xl font-bold">LivingPackets</h2>
          <p class="mt-2 text-neutral-400">Green, smart, and secure delivery and packaging solutions for e-commerce.</p>
        </div>
      </div>

      <!-- Mika -->
      <div class="group relative p-6 bg-white dark:bg-[#0d0d0d] border border-gray-800 dark:border-gray-800 border-opacity-10 rounded-lg overflow-hidden">
        <!-- Flag Overlay -->
        <div class="absolute top-2 right-2 flex space-x-1 opacity-0 transition-opacity duration-300 group-hover:opacity-100 pointer-events-none">
          <img src="media/flags/de.svg" alt="Germany Flag" class="w-6 h-6 object-cover rounded-full border-2 border-white border-opacity-10 shadow-sm" loading="lazy" />
        </div>

        <!-- Card Content -->
        <div class="relative z-10">
          <span class="text-xs uppercase bg-opacity-10 text-center max-w-fit px-2 py-1 font-bold tracking-wide bg-blue-300 text-blue-500">Head of Product</span>
          <h2 class="mt-4 text-xl font-bold">Mika</h2>
          <p class="mt-2 text-neutral-400">Clinically validated digital therapeutic for all cancer patients.</p>
        </div>
      </div>

      <!-- Matmatch -->
      <div class="group relative p-6 bg-white dark:bg-[#0d0d0d] border border-gray-800 dark:border-gray-800 border-opacity-10 rounded-lg overflow-hidden">
        <!-- Flag Overlay -->
        <div class="absolute top-2 right-2 flex space-x-1 opacity-0 transition-opacity duration-300 group-hover:opacity-100 pointer-events-none">
          <img src="media/flags/de.svg" alt="Germany Flag" class="w-6 h-6 object-cover rounded-full border-2 border-white border-opacity-10 shadow-sm" loading="lazy" />
        </div>

        <!-- Card Content -->
        <div class="relative z-10">
          <span class="text-xs uppercase bg-opacity-10 text-center max-w-fit px-2 py-1 font-bold tracking-wide bg-blue-300 text-blue-500">Head of Product</span>
          <h2 class="mt-4 text-xl font-bold">Matmatch</h2>
          <p class="mt-2 text-neutral-400">Matmatch is a comprehensive materials search platform.</p>
        </div>
      </div>

      <!-- Switchplace -->
      <div class="group relative p-6 bg-white dark:bg-[#0d0d0d] border border-gray-800 dark:border-gray-800 border-opacity-10 rounded-lg overflow-hidden">
        <!-- Flag Overlay -->
        <div class="absolute top-2 right-2 flex space-x-1 opacity-0 transition-opacity duration-300 group-hover:opacity-100 pointer-events-none">
          <img src="media/flags/se.svg" alt="Sweden Flag" class="w-6 h-6 object-cover rounded-full border-2 border-white border-opacity-10 shadow-sm" loading="lazy" />
        </div>

        <!-- Card Content -->
        <div class="relative z-10">
          <span class="text-xs uppercase bg-opacity-10 text-center max-w-fit px-2 py-1 font-bold tracking-wide bg-blue-300 text-blue-500">Founder & CEO</span>
          <h2 class="mt-4 text-xl font-bold">Switchplace</h2>
          <p class="mt-2 text-neutral-400">Real-estate platform for the swapping market.</p>
        </div>
      </div>

      <!-- Socialmist -->
      <div class="group relative p-6 bg-white dark:bg-[#0d0d0d] border border-gray-800 dark:border-gray-800 border-opacity-10 rounded-lg overflow-hidden">
        <!-- Flag Overlay -->
        <div class="absolute top-2 right-2 flex space-x-1 opacity-0 transition-opacity duration-300 group-hover:opacity-100 pointer-events-none">
          <img src="media/flags/se.svg" alt="Sweden Flag" class="w-6 h-6 object-cover rounded-full border-2 border-white border-opacity-10 shadow-sm" loading="lazy" />
          <img src="media/flags/us.svg" alt="USA Flag" class="w-6 h-6 object-cover rounded-full border-2 border-white border-opacity-10 shadow-sm" loading="lazy" />
          <img src="media/flags/pl.svg" alt="Poland Flag" class="w-6 h-6 object-cover rounded-full border-2 border-white border-opacity-10 shadow-sm" loading="lazy" />
        </div>

        <!-- Card Content -->
        <div class="relative z-10">
          <span class="text-xs uppercase bg-opacity-10 text-center max-w-fit px-2 py-1 font-bold tracking-wide bg-blue-300 text-blue-500">Founder & CEO</span>
          <h2 class="mt-4 text-xl font-bold">Socialmist</h2>
          <p class="mt-2 text-neutral-400">Social media platform where users can share texts, photos, and videos.</p>
        </div>
      </div>
    </main>
  </div>
</section>
