<!-- Section: Featured Projects -->
<section class="mt-24 animate-on-scroll opacity-0 translate-y-10 transition duration-700 ease-out transform">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="relative mb-8 max-w-fit">
      <p class="text-4xl max-w-4xl text-gray-700 dark:text-gray-100 font-bold leading-none">Featured products I've worked on</p>
    </div>
    <div class="flex space-x-4 overflow-x-auto snap-x snap-mandatory scroll-smooth scrollbar-hide">
      <!-- Slide 1 -->
      <div class="flex-shrink-0 w-96 h-[600px] snap-start group relative overflow-hidden rounded-lg shadow-lg">
        <img src="media/slideshow/slideshow-1.webp" alt="Healthtrackr - Explore your health markers" class="absolute inset-0 w-full h-full object-cover transform scale-100 transition-transform duration-[9000ms] ease-out group-hover:scale-110" loading="lazy" />

        <!-- Overlay -->
        <div class="absolute bottom-0 left-0 right-0 px-4 py-6 bg-gradient-to-t from-black to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          <h3 class="text-white text-xl font-semibold">Marley Spoon</h3>
          <p class="text-white text-sm">Leading meal-kit e-commerce platforms serving USA, Australia, and Europe. </p>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="flex-shrink-0 w-96 h-[600px] snap-start group relative overflow-hidden rounded-lg shadow-lg">
        <img src="media/slideshow/slideshow-17.webp" alt="Project Title 2 - Project Description 2" class="absolute inset-0 w-full h-full object-cover transform scale-100 transition-transform duration-[9000ms] ease-out group-hover:scale-110" loading="lazy" />

        <!-- Overlay -->
        <div class="absolute bottom-0 left-0 right-0 px-4 py-6 bg-gradient-to-t from-black to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          <h3 class="text-white text-xl font-semibold">Dinnerly</h3>
          <p class="text-white text-sm">Leading meal-kit e-commerce platforms serving USA, Australia, and Europe. </p>
        </div>
      </div>

      <!-- Slide 3 (Video) -->
      <div class="flex-shrink-0 w-96 h-[600px] snap-start group relative overflow-hidden rounded-lg shadow-lg">
        <video id="slideshow-video" class="absolute inset-0 w-full h-full object-cover" src="media/slideshow/slideshow-lab.mov" autoplay loop muted playsinline preload="auto"></video>

        <!-- Overlay -->
        <div class="absolute bottom-0 left-0 right-0 px-4 py-6 bg-gradient-to-t from-black to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          <h3 class="text-white text-xl font-semibold">Healthtrackr</h3>
          <p class="text-white text-sm">Extend your healthspan with comprehensive at-home blood testing kits.</p>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="flex-shrink-0 w-96 h-[600px] snap-start group relative overflow-hidden rounded-lg shadow-lg">
        <img src="media/slideshow/slideshow-11.webp" alt="Project Title 2 - Project Description 2" class="absolute inset-0 w-full h-full object-cover transform scale-100 transition-transform duration-[9000ms] ease-out group-hover:scale-110" loading="lazy" />

        <!-- Overlay -->
        <div class="absolute bottom-0 left-0 right-0 px-4 py-6 bg-gradient-to-t from-black to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          <h3 class="text-white text-xl font-semibold">Healthtrackr</h3>
          <p class="text-white text-sm">Extend your healthspan with comprehensive at-home blood testing kits.</p>
        </div>
      </div>

      <!-- Slide 4 -->
      <div class="flex-shrink-0 w-96 h-[600px] snap-start group relative overflow-hidden rounded-lg shadow-lg">
        <img src="media/slideshow/slideshow-12.webp" alt="Project Title 4 - Project Description 4" class="absolute inset-0 w-full h-full object-cover transform scale-100 transition-transform duration-[9000ms] ease-out group-hover:scale-110" loading="lazy" />

        <!-- Overlay -->
        <div class="absolute bottom-0 left-0 right-0 px-4 py-6 bg-gradient-to-t from-black to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          <h3 class="text-white text-xl font-semibold">Healthtrackr</h3>
          <p class="text-white text-sm">Extend your healthspan with comprehensive at-home blood testing kits.</p>
        </div>
      </div>

      <!-- Slide 4 -->
      <div class="flex-shrink-0 w-96 h-[600px] snap-start group relative overflow-hidden rounded-lg shadow-lg">
        <img src="media/slideshow/slideshow-18.webp" alt="Project Title 4 - Project Description 4" class="absolute inset-0 w-full h-full object-cover transform scale-100 transition-transform duration-[9000ms] ease-out group-hover:scale-110" loading="lazy" />

        <!-- Overlay -->
        <div class="absolute bottom-0 left-0 right-0 px-4 py-6 bg-gradient-to-t from-black to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          <h3 class="text-white text-xl font-semibold">Socialmist</h3>
          <p class="text-white text-sm">Social media platform where users can share texts, photos, and videos. Powered by SoundCloud.</p>
        </div>
      </div>

      <!-- Slide 5 -->
      <div class="flex-shrink-0 w-96 h-[600px] snap-start group relative overflow-hidden rounded-lg shadow-lg">
        <img src="media/slideshow/slideshow-5.webp" alt="Project Title 5 - Project Description 5" class="absolute inset-0 w-full h-full object-cover transform scale-100 transition-transform duration-[9000ms] ease-out group-hover:scale-110" loading="lazy" />

        <!-- Overlay -->
        <div class="absolute bottom-0 left-0 right-0 px-4 py-6 bg-gradient-to-t from-black to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          <h3 class="text-white text-xl font-semibold">Switchplace</h3>
          <p class="text-white text-sm">Real-estate platform for the swapping market. </p>
        </div>
      </div>

      <!-- Slide 6 (Video) -->
      <div class="flex-shrink-0 w-96 h-[600px] snap-start group relative overflow-hidden rounded-lg shadow-lg">
        <video id="slideshow-video" class="absolute inset-0 w-full h-full object-cover" src="media/slideshow/slideshow-snap.mp4" autoplay loop muted playsinline preload="auto"></video>

        <!-- Overlay -->
        <div class="absolute bottom-0 left-0 right-0 px-4 py-6 bg-gradient-to-t from-black to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          <h3 class="text-white text-xl font-semibold">SnapSound</h3>
          <p class="text-white text-sm">Music video editor for social platforms. Powered by Deezer.</p>
        </div>
      </div>

      <!-- Slide 7 -->
      <div class="flex-shrink-0 w-96 h-[600px] snap-start group relative overflow-hidden rounded-lg shadow-lg">
        <img src="media/slideshow/slideshow-13.webp" alt="Project Title 7 - Project Description 7" class="absolute inset-0 w-full h-full object-cover transform scale-100 transition-transform duration-[9000ms] ease-out group-hover:scale-110" loading="lazy" />

        <!-- Overlay -->
        <div class="absolute bottom-0 left-0 right-0 px-4 py-6 bg-gradient-to-t from-black to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          <h3 class="text-white text-xl font-semibold">Healthtrackr</h3>
          <p class="text-white text-sm">Extend your healthspan with comprehensive at-home blood testing kits.</p>
        </div>
      </div>

      <!-- Slide 8 -->
      <div class="flex-shrink-0 w-96 h-[600px] snap-start group relative overflow-hidden rounded-lg shadow-lg">
        <img src="media/slideshow/slideshow-16.webp" alt="Project Title 8 - Project Description 8" class="absolute inset-0 w-full h-full object-cover transform scale-100 transition-transform duration-[9000ms] ease-out group-hover:scale-110" loading="lazy" />

        <!-- Overlay -->
        <div class="absolute bottom-0 left-0 right-0 px-4 py-6 bg-gradient-to-t from-black to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          <h3 class="text-white text-xl font-semibold">Matmatch</h3>
          <p class="text-white text-sm">Matmatch is a materials search platform with the most comprehensive materials database in the world.</p>
        </div>
      </div>

      <!-- Slide 9 -->
      <div class="flex-shrink-0 w-96 h-[600px] snap-start group relative overflow-hidden rounded-lg shadow-lg">
        <img src="media/slideshow/slideshow-9.webp" alt="Project Title 9 - Project Description 9" class="absolute inset-0 w-full h-full object-cover transform scale-100 transition-transform duration-[9000ms] ease-out group-hover:scale-110" loading="lazy" />

        <!-- Overlay -->
        <div class="absolute bottom-0 left-0 right-0 px-4 py-6 bg-gradient-to-t from-black to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          <h3 class="text-white text-xl font-semibold">Marley Spoon</h3>
          <p class="text-white text-sm">Leading meal-kit e-commerce platforms serving USA, Australia, and Europe. </p>
        </div>
      </div>

      <!-- Slide 10 -->
      <div class="flex-shrink-0 w-96 h-[600px] snap-start group relative overflow-hidden rounded-lg shadow-lg">
        <img src="media/slideshow/slideshow-4.webp" alt="Project Title 10 - Project Description 10" class="absolute inset-0 w-full h-full object-cover transform scale-100 transition-transform duration-[9000ms] ease-out group-hover:scale-110" loading="lazy" />

        <!-- Overlay -->
        <div class="absolute bottom-0 left-0 right-0 px-4 py-6 bg-gradient-to-t from-black to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          <h3 class="text-white text-xl font-semibold">Switchplace</h3>
          <p class="text-white text-sm">Real-estate platform for the swapping market. </p>
        </div>
      </div>

      <!-- Slide 11 -->
      <div class="flex-shrink-0 w-96 h-[600px] snap-start group relative overflow-hidden rounded-lg shadow-lg">
        <img src="media/slideshow/slideshow-15.webp" alt="Project Title 11 - Project Description 11" class="absolute inset-0 w-full h-full object-cover transform scale-100 transition-transform duration-[9000ms] ease-out group-hover:scale-110" loading="lazy" />

        <!-- Overlay -->
        <div class="absolute bottom-0 left-0 right-0 px-4 py-6 bg-gradient-to-t from-black to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          <h3 class="text-white text-xl font-semibold">Matmatch</h3>
          <p class="text-white text-sm">Matmatch is a materials search platform with the most comprehensive materials database in the world.</p>
        </div>
      </div>

      <!-- Slide 12 -->
      <div class="flex-shrink-0 w-96 h-[600px] snap-start group relative overflow-hidden rounded-lg shadow-lg">
        <img src="media/slideshow/slideshow-10.webp" alt="Project Title 12 - Project Description 12" class="absolute inset-0 w-full h-full object-cover transform scale-100 transition-transform duration-[9000ms] ease-out group-hover:scale-110" loading="lazy" />

        <!-- Overlay -->
        <div class="absolute bottom-0 left-0 right-0 px-4 py-6 bg-gradient-to-t from-black to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          <h3 class="text-white text-xl font-semibold">LivingPackets</h3>
          <p class="text-white text-sm">Green, smart, and secure delivery and packaging solutions for e-commerce. </p>
        </div>
      </div>

      <!-- Slide 13 -->
      <div class="flex-shrink-0 w-96 h-[600px] snap-start group relative overflow-hidden rounded-lg shadow-lg">
        <img src="media/slideshow/slideshow-2.webp" alt="Project Title 13 - Project Description 13" class="absolute inset-0 w-full h-full object-cover transform scale-100 transition-transform duration-[9000ms] ease-out group-hover:scale-110" loading="lazy" />

        <!-- Overlay -->
        <div class="absolute bottom-0 left-0 right-0 px-4 py-6 bg-gradient-to-t from-black to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          <h3 class="text-white text-xl font-semibold">Socialmist</h3>
          <p class="text-white text-sm">Social media platform where users can share texts, photos, and videos. Powered by SoundCloud.</p>
        </div>
      </div>

      <!-- Slide 14 -->
      <div class="flex-shrink-0 w-96 h-[600px] snap-start group relative overflow-hidden rounded-lg shadow-lg">
        <img src="media/slideshow/slideshow-3.webp" alt="Project Title 14 - Project Description 14" class="absolute inset-0 w-full h-full object-cover transform scale-100 transition-transform duration-[9000ms] ease-out group-hover:scale-110" loading="lazy" />

        <!-- Overlay -->
        <div class="absolute bottom-0 left-0 right-0 px-4 py-6 bg-gradient-to-t from-black to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          <h3 class="text-white text-xl font-semibold">Socialmist</h3>
          <p class="text-white text-sm">Social media platform where users can share texts, photos, and videos. Powered by SoundCloud.</p>
        </div>
      </div>

      <!-- Slide 15 -->
      <div class="flex-shrink-0 w-96 h-[600px] snap-start group relative overflow-hidden rounded-lg shadow-lg">
        <img src="media/slideshow/slideshow-6.webp" alt="Project Title 15 - Project Description 15" class="absolute inset-0 w-full h-full object-cover transform scale-100 transition-transform duration-[9000ms] ease-out group-hover:scale-110" loading="lazy" />

        <!-- Overlay -->
        <div class="absolute bottom-0 left-0 right-0 px-4 py-6 bg-gradient-to-t from-black to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          <h3 class="text-white text-xl font-semibold">SnapSound</h3>
          <p class="text-white text-sm">Music video editor for social platforms. Powered by Deezer.</p>
        </div>
      </div>

      <!-- Slide 16 -->
      <div class="flex-shrink-0 w-96 h-[600px] snap-start group relative overflow-hidden rounded-lg shadow-lg">
        <img src="media/slideshow/slideshow-14.webp" alt="Project Title 16 - Project Description 16" class="absolute inset-0 w-full h-full object-cover transform scale-100 transition-transform duration-[9000ms] ease-out group-hover:scale-110" loading="lazy" />

        <!-- Overlay -->
        <div class="absolute bottom-0 left-0 right-0 px-4 py-6 bg-gradient-to-t from-black to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          <h3 class="text-white text-xl font-semibold">LivingPackets</h3>
          <p class="text-white text-sm">Green, smart, and secure delivery and packaging solutions for e-commerce.</p>
        </div>
      </div>
    </div>
  </div>
</section>
