<!-- Section: Download CV -->
<section class="mt-24 animate-on-scroll opacity-0 translate-y-10 transition duration-700 ease-out transform">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <!-- Light gradient, dark solid bg -->
    <div class="relative rounded-xl p-8 text-center bg-gray-50 bg-opacity-40 dark:bg-[#0d0d0d] backdrop-filter backdrop-blur-md py-20 border border-gray-800 border-opacity-10 dark:border-gray-800">
      <h2 class="text-3xl font-bold text-gray-800 dark:text-white mb-4"> Explore My Résumé </h2>
      <p class="text-lg text-gray-600 dark:text-gray-300 max-w-xl mx-auto mb-6"> Get a closer look at my experience, skills, and achievements. </p>

      <!-- Download button -->
      <a
        href="resume/Resume-Marcus-Wiberg.pdf"
        download
        aria-label="Download Marcus Wiberg's CV"
        class="inline-flex items-center px-8 py-3 text-md font-semibold text-white bg-gradient-to-r from-blue-500 to-blue-700 dark:from-blue-300 dark:to-blue-500 rounded-full hover:from-blue-600 hover:to-blue-800 dark:hover:from-blue-400 dark:hover:to-blue-600 active:bg-blue-700 dark:active:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 dark:focus:ring-blue-600 transform hover:scale-105 shadow-lg transition-all duration-300">
        <i class="fas fa-download mr-2"></i> Download CV
      </a>
    </div>
  </div>
</section>
